// Main variables
$background-color: #333;
$font-color: #fff;
$primary-color: #45CB7F;
$font: 'Montserrat', sans-serif;

// Reset
* {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $font-color;
  font-family: $font;
}

// Nav
#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
  position: relative;
  text-align: center;

  .logo img {
    max-width: 50px;
  }
}

// Grid
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item8 { grid-area: item8; }
.item2 { grid-area: item2; }
.item5 { grid-area: item5; }
.item7 { grid-area: item7; }
.item1 { grid-area: item1; }
.item6 { grid-area: item6; }

#grid-container {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1.25rem;
  grid-template-areas:
  "item3 item4 item4 item8 item2"
  "item3 item5 item7 item1 item1"
  "item3 item5 item6 item6 item6";
  grid-auto-rows: 260px;

  // Grid animation
  @keyframes cardAnim {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    25% {
      transform: scale(1.025)
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .card {
    background-color: $background-color;
    animation: cardAnim 750ms ease-out;
    animation-fill-mode: backwards;

    @for $i from 1 to 9 {
      &:nth-child(#{$i}) { animation-delay: $i * 0.15s; }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Media queries
// Tablet
@media screen and (max-width: 1200px) {
  #nav-container {
    flex-direction: column;
  }

  #grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 8);
    margin: 1rem 2rem;
    grid-template-areas:
    "item3 item4"
    "item8 item2"
    "item5 item7"
    "item1 item6";
  }
}

@media screen and (max-width: 480px) {
  #grid-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 8);
    margin: 1rem 2rem;
    grid-template-areas:
    "item3"
    "item4"
    "item8"
    "item2"
    "item5"
    "item7"
    "item1"
    "item6";
  }
}